<footer class="page-footer font-small bg-secondary pt-4">

    <div class="container">
  
      <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
          <h4 class="text-white">Siga-nos nas redes sociais</h4>
        </div>
      </div>
  
      <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
  
          <ul class="social-network">
            <li>
                <a href="https://www.linkedin.com/in/diego-silva-2479711a7/" target="_blank" 
                class="icoLink"></a>
                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
            </li>
            <li>
                <a href="https://github.com/diegobsilva10" target="_blank" 
                class="icoGit"></a>
                <i class="fa fa-github-square" aria-hidden="true"></i>
            </li>


          </ul>
  
        </div>
      </div>