<footer class= "page-footer font-small bg-secondary pt-4">
    <div class="container">

        <div class="row">
            <div class="col-md-12 d-flex justify-content-cneter">
                <h4 class="text-white">Siga nas redes sociais</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center"></div>

            <ul class="social-network"></ul>
            <li>
                <a href="https://www.linkedin.com/in/diego-silva-2479711a7/" target="_blank" 
                class="icoLink"></a>
                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
            </li>
            <li>
                <a href="https://github.com/diegobsilva10" target="_blank" 
                class="icoGit"></a>
                <i class="fa fa-github-square" aria-hidden="true"></i>
            </li>

            <div class= "footer-copyright bg-dark text-center py-3">
                <span class="text-light"> 2021 footer-copyright</span>
                <a class="text-light" target="_blank" href=""></a>
            </div>
        </div>




















    </div>
























</footer>